{% extends 'base.html.twig' %}

{% block body %}


<header>
    <div class="ui container">
        <div class="ui two column centered grid">
            <div class="">
                <img class="rounded-full border-8 border-teal-800" src="{{ asset('/images/logo.png') }}" alt="Bot Logo">
                <h1 class="title_header"> Toutes les fonctionnalitées de LMT-Bot </h1>
                
            </div>
        </div>
    </div>
</header>
<h1> Exemples d'utilisation </h1>
{# VIDEO 1 #}



{# Preparer les vidéos que on va présenter + les textes pour la prochaine fois #}
{% endblock %}
