{% extends 'base.html.twig' %}

{% block body %}
<link rel="stylesheet" href="../../assets/styles/app.css"/>

<header>
    <div class="ui container">
        <div class="ui two column centered grid">
            <div class="ui column">
                <img class="logo" src="{{ asset('/images/logo.png') }}" alt="Bot Logo">
                <h1 class="title_header"> Bot communautaire avec de nombreuses fonctionalités </h1>
                <p class="subtitle"> LMT-Bot est un bot permettant aux utilisateurs différentes fonctions comme des commandes Funs, des commandes de Setup pour personaliser votre serveur, des Jeux, des Interactions, de la Modération, des Animaux, les Activités Discord, et de nombreuses commandes utiles. Le bot est uniquement fonctionnel qu'avec les commandes slashs </p>
            </div>
        </div>
    </div>
</header>
<h1> Exemples d'utilisation </h1>
{# VIDEO 1 #}



{# Preparer les vidéos que on va présenter + les textes pour la prochaine fois #}
{% endblock %}

