{% extends 'base.html.twig' %}

{% block body %}


<header>
    <div>
        <div>
            <div>
                <img src="{{ asset('/images/logo.png') }}" alt="Bot Logo">
                <h1> Bot communautaire avec de nombreuses fonctionalités </h1>
                <p> LMT-Bot est un bot permettant aux utilisateurs différentes fonctions comme des commandes Funs, des commandes de Setup pour personaliser votre serveur, des Jeux, des Interactions, de la Modération, des Animaux, les Activités Discord, et de nombreuses commandes utiles. Le bot est uniquement fonctionnel qu'avec les commandes slashs </p>
            </div>
        </div>
    </div>
</header>
<h1> Exemples d'utilisation </h1>
{# VIDEO 1 #}



{# Preparer les vidéos que on va présenter + les textes pour la prochaine fois #}
{% endblock %}

