.categories {
    width: 100%;
    padding: 1em;
    background-color: #212121;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 39%);
    justify-content: center;
    height: fit-content;
    box-shadow: 
        25px 25px 35px -25px #0e0e10b4,
        -25px -25px 35px -25px #404048b4,
        25px 5px 5px -25px #404048b4 inset,
        -25px 5px 5px -25px #1b1b21b4 inset;
}

.btn {
    background-color: #23272A;
    color: #ccc;
    border-radius: 4px;
    margin-top: 0.5rem;
    padding-left : 10px;
    padding-right : 10px;
    padding-top : 5px;
    padding-bottom : 5px;
    box-shadow: 
        25px 0 35px -25px #0e0e10b4,
        -25px 0 35px -25px #404048b4,
        25px 0 5px -25px #404048b4 inset,
        -25px 0 5px -25px #1b1b21b4 inset;
}

.btn.selected {
    background-color: #4340d5;
    color: #fff;
    box-shadow: 
        25px 0 35px -25px #0e0e4cde,
        -25px -5px 35px -25px #8e8ef6d8,
        25px 5px 5px -25px #8e8ef6d8 inset,
        -25px 0 5px -25px #0e0e4cde inset;
}

.command {
    width: 100%;
    padding: 1em;
    background-color: #212121;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 39%);
    cursor: pointer;
    margin-bottom: 15px;
    box-shadow: 
        25px 25px 35px -25px #0e0e10b4,
        -25px -25px 35px -25px #404048b4,
        25px 5px 5px -25px #404048b4 inset,
        -25px 5px 5px -25px #1b1b21b4 inset;
}

.cmd {
    color:#fff;
}

.description {
    color: #6c757d;
    display: flex;
    margin-left: 5px;
}

.basic {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.infos {
    display: flex;
    align-items: center;
    margin-left: 5px;
    color:#fff;
    justify-content: center;
}

.header {
    margin: -2px 0 -12px;
    font-size: 55px;
    color: #4340d5;
    font-family: "Uni Sans","Arial",sans-serif;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}